<h1>Fabrincantes</h1>

<% @manufacturers.each do |manufacturer| %>
  <h3><%= link_to manufacturer.name, manufacturer_path(manufacturer.id) %></h3>
<% end %>

<% if @manufacturers.empty? %>
  <p>Nenhum fabricante cadastrado</p>
<% end %>

<%= link_to 'Voltar', root_path %>